.memory-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background: transparent;
}

.memory-bar .btn {
  width: 60px;
  height: 45px;
  font-size: 1rem;
  line-height: 45px;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
}

.memory-bar .btn:hover {
  filter: brightness(80%);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
  justify-content: center;
}

.btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  text-align: center;
  line-height: 55px;
  font-size: 1.3rem;
  cursor: pointer;
  user-select: none;
  box-shadow: 3px 3px 5px #b08fa4;
  transition: filter 0.3s ease;
  margin: 0 auto;
}

.btn:hover {
  filter: brightness(80%);
}

.btn:active {
  filter: brightness(60%);
}

.delete-btn {
  width: 40px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bg-buttons {
  text-align: center;
  margin-top: 20px;
}

.bg-buttons button {
  background-color: #fd7bc5;
  color: snow;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.bg-buttons button:hover {
  filter: brightness(110%);
}

.btn.dark {
  background: #ff67bd;
  color: snow;
}
.btn.light {
  background: #fccce8;
}
.btn.normal {
  background: #fcbde1;
}
.btn.medium {
  background: #fc90cd;
}
