body {
  background-color: #ffd5ed;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calc {
  margin: 50px auto;
  width: 420px;
  border-radius: 30px;
  background: #ffbfe3;
  color: #ff009d;
  padding: 20px;
  box-shadow: 5px 5px 5px #ab98a7;
}

.name {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
  user-select: none;
}

.result {
  height: auto;
  min-height: 70px;
  padding: 10px;
  background: #ffb3de;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 30px;
  margin-bottom: 20px;
  overflow-x: hidden;
  position: relative;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

#expression {
  min-height: 18px;
  font-size: 1rem;
  color: #5e5e5e;
  margin-bottom: 5px;
  max-width: 100%;
  padding-right: 5px;
  scrollbar-width: thin;
}

#expression::-webkit-scrollbar {
  height: 5px;
}

#expression::-webkit-scrollbar-thumb {
  background-color: #ff009d;
  border-radius: 3px;
}

.result #output {
  font-size: 3rem;
  margin: 0;
  color: black;
  word-break: break-word;
}

.memory-texts {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.memory-text {
  font-size: 1rem;
  color: snow;
  cursor: pointer;
  transition: color 0.2s ease;
}

.memory-text:hover {
  color: #fc008f;
}

.history-panel {
  position: absolute;
  left: 220px;
  top: 160px;
  width: 280px;
  background-color: #fc90cd;
  padding: 10px;
  color: black;
  max-height: 300px;
  z-index: 10;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#clearHistoryBtn {
  background-color: #ff6cbf;
  color: white;
  border: none;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s;
}

#clearHistoryBtn:hover {
  background-color: #fc008f;
}

.history-panel div {
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.history-panel .history-item:hover {
  background-color: #ff6cbf;
}

.hidden {
  display: none;
}
